.row{
    padding-top: 100px;
    padding-bottom: 50px;
}

.textdesc h1{
    font-style: bold;
    font-size: 15px;
}

.textmenu h2{
    font-style: bold;
    font-size: 15px;
}


.conect h1{
    font-style: bold;
    font-size: 17px;
}

.copy h1{
    font-style: bold;
    font-size: 15px;
}

.copy a{
    color: aliceblue;
    font-size: 18px;
    background-color: blue;
    border: none;
    /* margin-left: 120px; */
    width: 100px;
    height: 30px;
}  